/* Main grid container */
.overview-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Default to 3 columns */
    gap: 10px;
}

/* Card styling */
.overview-card {
    height: 150px;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.overview-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Icon container */
.card-icon-container {
    height: 37px;
    width: 37px;
    border-radius: 50%;
}

/* Card item wrapper */
.card-items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 0 20px;
}

/* Icon image */
.card-icon {
    position: relative;
    top: 6px;
    left: 6px;
    width: 24px;
    height: 24px;
}

/* Title styling */
.card-title {
    color: #06152B;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* Description styling */
.card-description {
    color: #809FB8;
    font-family: Inter;
    font-size: 10.55px;
    font-weight: 400;
}

/* Quick menu card */
.quick-menu-card {
    background-color: rgba(255, 203, 5, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px dashed;
    align-items: center;
    justify-content: center;
}

/* Quick menu text */
.quick-menu {
    color: #06152B;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.department-setup-modal {
    width: 90% !important;
    /* Override inline or default styles */
    top: 20px !important;
    /* Ensure specificity if needed */
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
    .overview-cards-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns for medium screens */
    }
}

@media (max-width: 768px) {
    .overview-cards-container {
        grid-template-columns: 1fr;
        /* 1 column for small screens */
    }

    .card-title {
        font-size: 16px;
        /* Adjust font size for smaller screens */
    }

    .card-description {
        font-size: 12px;
        /* Adjust font size for smaller screens */
    }

    .quick-menu {
        font-size: 18px;
        /* Adjust font size for smaller screens */
    }

    .department-setup-modal {
        top: 0 !important;
    }
}

@media (max-width: 480px) {
    .overview-card {
        /* height: auto; */
        /* Adjust card height for very small screens */
    }
}