/* employee styles */
.existing-employee-container {
    margin: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 16px;
}

.existing-employee-header {
    border-bottom: 1px solid #E6EFF5;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.existing-employee-form {
    padding: 30px;
}

.existing-employee-title {
    color: #696666;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px;
}

.existing-employee-desc {
    color: var(--Greys-Blue-Grey-700, #737791);
    font-family: Inter;
    font-size: 14.4px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 2px;
}

.existing-employee-tabs {
    /* color: #F3686D; */
    text-align: center;
    font-family: Inter;
    font-size: 15.127px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.existing_employee_tab_line {
    width: 70px;
    border-bottom: 1px solid #E0E5EB;
    height: 0;
    margin: 10px;
}

.existing_employee_tab_number {
    height: 18px;
    /* background-color: #F3686D; */
    color: #FFFFFF;
    border-radius: 50%;
    width: 18px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 12px;
}

.form-checkbox-button {
    display: flex;
    gap: 20px;
    /* align-items: center; */
    justify-content: space-between;
    margin-bottom: 30px;
}

.employee-input {
    border-radius: 18px;
    height: 45px;
    font-size: 14px;
    color: #65686A;
}

.employee-input .ant-select-selector {
    border-radius: 18px;
    height: 45px;
    font-size: 14px;
    color: #65686A;
}

.employee-custom-label {
    color: var(--Type-Dark, #3A3541);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

/* leave policy styles */

.policy-list-icon {
    width: 38px;
    height: 38px;
    background-color: #D8D8D8;
    border-radius: 25px;
}

/* Default styles for the list items */
.card-item {
    border-left: 4px solid transparent;
    /* Default border */
    background-color: #fff;
    /* Default background */
    transition: all 0.3s ease;
    /* Smooth transition for hover and selection */
    padding: 15px;
}

/* Styles for the selected list item */
.card-item.selected {
    border-left: 4px solid red;
    /* Highlighted red border */
    background-color: #f9f9f9;
    /* Light gray background */
}

/* Hover effect for all list items */
.card-item:hover {
    background-color: #f2f2f2;
    /* Slightly darker gray background */
}

/* Card styles */
.card {
    display: flex;
    /* align-items: center; */
    /* padding: 10px; */
    border-radius: 8px;
}

/* Circle placeholder */
.circle {
    width: 40px;
    height: 40px;
    background: #ddd;
    /* Placeholder background */
    border-radius: 50%;
    margin-right: 15px;
}

/* Content inside the card */
.content {
    display: flex;
    flex-direction: column;
}

/* Header inside the card */
.content h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    /* Dark text color */
}

/* Details text inside the card */
.details {
    font-size: 14px;
    color: #666;
    /* Subtle text color */
    margin-top: 5px;
}

/* Span elements to highlight specific content */
.details span {
    font-weight: 600;
    color: #333;
    /* Darker text color for emphasis */
}

.leave-policy-heading {
    color: #979797;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px;
}

.policy-details-continer {
    /* padding: 20px; */
    border: 1px solid #d8d8d8;
    border-radius: 14px;
    margin: 40px;
    background-color: #fff;
}

.leave-policy-input {
    border-radius: 16px;
    height: 35px;
    font-size: 18px;
    color: #65686A;
    /* background-color: #F5F7FA; */
    /* border: none; */
    width: 250px;
}

.leave-policy-input .ant-select-selector {
    border-radius: 16px;
    height: 35px;
    font-size: 18px;
    color: #65686A;
    /* background-color: #F5F7FA; */
    /* border: none; */
    /* width: 250px; */
}

.custom-policy-button {
    background: #007DC5;
    color: #FFF;
    width: 100%;
    height: 50px;
    border-radius: 22px;
}

.policy-custom-label {
    color: #979797;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 38.4px; 240% */
}

.cancel_popup_title {
    color: #96989E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cancel_popup_desc {
    color: rgba(35, 35, 35, 0.70);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.138px;
}

.employee_type_container {
    display: flex;
    gap: 70px;
}

.existing_employee_form_container {
    display: grid;
    gap: 0 30px;
    grid-template-columns: repeat(3, 1fr);
}

.existing_employee_buttons {
    width: 292px;
}

.existing_employee_buttons_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 20px;
}

.policy_details_switch_byn_container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0;
}

/* Extra small devices (phones) */
@media (max-width: 767px) {
    .existing-employee-header {
        flex-direction: column-reverse;
        padding: 10px;
        gap: 10px;
    }

    .existing-employee-container {
        margin: 0;
        border: 0;
    }

    .existing-employee-form {
        padding: 10px;
    }

    .form-checkbox-button {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .employee_type_container {
        gap: 20px;
    }

    .existing_employee_form_container {
        display: flex;
        flex-direction: column;
    }

    .existing_employee_buttons {
        width: 100%;
    }

    .existing_employee_buttons_container {
        flex-direction: column;
    }

    .policy-details-continer {
        margin: 0;
        padding: 10px;
        border: 0;
    }

    .leave-policy-heading {
        padding: 0;
    }

    .hours-div {
        display: flex;
        align-items: center;
    }

    .policy_details_switch_byn_container {
        padding: 0;
        flex-direction: column;
        align-items: start;
    }

    .card {
        margin: 30px 0;
        border-bottom: 2px solid #ED1C24;
        background: rgba(217, 225, 231, 0.20);
        padding: 20px;
        border-radius: 0;
    }

    .content {
        padding: 10px;
        gap: 10px;
    }
}