/* General Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  
  /* Login Box */
  .login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Login Title */
  .login-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Input Fields */
  .login-input {
    border-radius: 6px;
  }
  
  /* Login Button */
  .login-button {
    border-radius: 6px;
    background-color: #6c5ce7;
    border: none;
    color: #fff;
  }
  
  .login-button:hover {
    background-color: #8e7dbb;
  }
  
  /* Password Requirements */
  .password-requirements {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .requirement {
    display: inline-block;
    font-size: 14px;
    color: #888;
    margin-right: 10px;
    background-color: #f9f9f9;
    padding: 2px 6px;
    border-radius: 4px;
  }
  
  .requirement.met {
    color: #078527;
    background-color: rgba(3, 171, 101, 0.078);
  }
  
  /* Error Message */
  .error-message {
    color: red;
    margin-bottom: 10px;
    text-align: left;
  }
  