.header_container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6;
    padding: 20px;
    margin: 20px 0;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header_right_section {
    display: flex;
    gap: 30px;
}

.header_title {
    color: #696666;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 20px;
}

.header_dropdown_down_iocn {
    margin-left: 8px;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    color: #E6E6E6;
    font-size: 10px;
    padding: 5px;
}

.header_back_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.header_back_button_container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    .header_container {
        padding: 0;
        margin: 0;
    }
}