.personal_details_title {
    color: #979797;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.4px;
}

.personal_details_desc {
    color: var(--Greys-Blue-Grey-700, #737791);
    font-family: Inter;
    font-size: 14.4px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px;
    /* letter-spacing: 2px; */
}

.patient_details_input {
    color: var(--Type-Light, #89868D);
    font-family: Inter;
    font-size: 14.22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 46px;
    border-radius: 18px;
}

.patient_details_input .ant-select-selector {
    color: var(--Type-Light, #89868D);
    font-family: Inter;
    font-size: 14.22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 46px;
    border-radius: 18px;
}

.patient_details_input_label {
    color: var(--Type-Dark, #3A3541);
    font-family: Inter;
    font-size: 14.22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.visa_deatils_header {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.visa_details_table {
    margin-top: 20px;
}

.personal_details_form_field {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.add_visa_modal .ant-modal-content {
    padding: 0;
    border-radius: 20px;
}

.add_visa_modal .ant-modal-header {
    border-radius: 20px;
}

.add_visa_modal .ant-modal-title {
    background-color: #007DC5;
    color: #FFFF;
    padding: 40px;
    border-radius: 20px 20px 0 0;
    font-size: 24px;
    font-family: 'Inter';
}

.add_visa_modal .ant-modal-body {
    padding: 40px;
}

.add_visa_modal .ant-modal-close-icon {
    color: #FFFFFF;
    font-size: 20px;
}

.add_visa_modal_input {
    height: 46px;
}

.add_visa_modal_input .ant-select-selector {
    border-radius: 18px;
}

.add_visa_file_upload_button {
    padding: 20px;
    background-color: #F4F5F9;
    min-width: 250px;
    border-radius: 18px;
    height: 46px;
}

.add_visa_button {
    width: 200px;
    height: 40px;
    border-radius: 18px;
}

@media (max-width: 767px) {
    .personal_details_container {
        margin-bottom: 100px;
    }

    .personal_details_form_field {
        display: flex;
        flex-direction: column;
    }
}