/* .ant-layout-sider {
  width: 300px;
} */

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three buttons per row */
  gap: 20px;
  /* Space between buttons */
}

.custom-button {
  background-color: #007bff;
  /* Blue background */
  color: white;
  /* White text */
  border: none;
  /* Remove default border */
  border-radius: 20px;
  /* Rounded edges */
  padding: 10px 20px;
  /* Padding for a larger button */
  font-size: 16px;
  /* Font size for text */
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Optional shadow */
  height: 100px;
}

.custom-button:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

.custom-button:focus {
  outline: none;
  /* Remove focus outline */
  box-shadow: 0 0 5px #0056b3;
  /* Optional focus shadow */
}

.employee-card {
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.employee-card:hover {
  transform: translateY(-5px);
  /* Lift on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Stronger shadow on hover */
}

.employee-card img {
  border-radius: 5px;
  /* Rounded image */
}

.employee-card .ant-typography-link {
  font-size: 14px;
  /* Smaller text for link */
  display: inline-block;
  margin-top: 5px;
}


/* Add employee */

.add-employee-container {
  /* width: 100%; */
  padding: 20px;
  margin: 20px;
  border: 1px solid #D8D8D8;
  border-radius: 16px;
}

.add-employee-heading {
  display: flex;
  justify-content: space-between;
}

.add-employee-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 30px;
}

.add-employee-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 38.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #05004E;
}

.add-employee-desc {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 36px; */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #737791;
  ;
}

.add-employee-help {
  border: 1px solid #C3D3E2;
  height: fit-content;
  padding: 10px;
  border-radius: 12px;
  color: #0F3659;
  font-family: Inter;
  font-size: 16.8px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 142.857% */
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-employee-card-1 {
  /* width: 300px; */
  max-height: 220px;
  height: auto;
  background-color: #FBD2D3CC;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-employee-card-2 {
  /* width: 300px; */
  height: 220px;
  background-color: #CCE5F3CC;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.add-employee-card-3 {
  /* width: 300px; */
  height: 220px;
  background-color: #FFF5CD;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-employee-card-items-wrapper {
  padding: 20px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-employee-card-1:hover,
.add-employee-card-2:hover,
.add-employee-card-3:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


.add-employee-card-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  /* line-height: 38.4px; */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #151D48;
  margin-bottom: 10px;
}

.add-employee-card-description {
  font-family: Inter;
  font-size: 14.4px;
  font-weight: 500;
  line-height: 19.2px;
  /* letter-spacing: 2px; */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #565656;
}

.collapse_container {
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.collapse_icon {
  /* background: #a9a2a2; */
  /* padding: 5px; */
  /* border-radius: 8px; */
  color: #a9a2a2;
  font-size: 24px;
}

.dashboard_content_right {
  /* margin-right: 20px; */
  padding: 20px 20px 0 0;
}

.dashboard_content_center {
  width: 70%;
}

.dashboard_content_center_ful {
  width: 100%;
}

.dashboard_content_right {
  width: 30%;
}

.dashboard_content_right_ful {
  width: 100%;
}

.create_employee_back_button {
  width: 200px;
  background-color: #007DC5;
  color: #FFFFFF;
  height: 50px;
  border-radius: 12px;
}

.user_tabs_container {
  padding: 0 40px 40px;
}

@media (max-width: 767px) {
  .dashboard_content_container {
    flex-direction: column;
    /* height: auto;
    padding: 10px;
    gap: 20px; */
  }

  .dashboard_content_center {
    width: 100%;
  }

  .dashboard_content_right {
    width: 100%;
    padding: 20px;
  }

  .add-employee-container {
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 30px;
  }

  .add-employee-help {
    display: none;
  }

  .add-employee-title {
    margin-bottom: 10px;
  }

  .add-employee-cards {
    display: flex;
    flex-direction: column;
  }

  .calender-container {
    max-width: 100%;
  }

  .dashboard_content_center_ful {
    padding: 20px;
  }

  .user_tabs_container {
    padding: 0;
  }
}