.shift-sign-in-container {
    display: flex;
}

.shift-sign-in-image-section {
    width: 47%;
    background: #15273A;
}

.shift-sign-in-form-section {
    width: 53%;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}

.shift-sign-in-image {
    width: 80%;
    border-radius: 38px;
    height: 400px;
}

.shift-sign-in-logo-with-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.shift-sign-in-title {
    color: var(--d-9-d-9-d-9, #E0E5EB);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.shift-sign-in-image-section-conatiner {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 100vh;
    box-sizing: border-box;
}

.shift-sign-in-image-container {
    display: flex;
    justify-content: center;
}

.shift-sign-in-form-title {
    color: var(--Greyscale-900, #121A26);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.shift-sign-in-form-desc {
    color: rgba(64, 64, 64, 0.82);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.shift-sign-in-form-title-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}